:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-image: linear-gradient(180deg, #54acff, #8ce6ff);
    
    width: 100%;
    height: 100%;
}

* {
    user-select: none;
}

body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.4em;
    color: #ffffff;
}

h2 {
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 20px 0;
}

p {
    font-weight: 500;
    font-size: 1.5em;
}

#webgl {
    border-radius: 10px;
}

#app {
    display: flex;
    flex-direction: row;
}

#controlContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#animationButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 0;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    background-color: #bbffb5;
    font-size: 1.3em;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    transition: 0.1s ease;
}

/* Slider CSS modified from ChatGPT */
input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 8px;
    background-color: #bbffb5;
    border: 2px solid black;
    margin: 8px 0;
    outline: none;
    margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(111, 190, 255);
    border: 2px solid black;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    transition: 0.1s ease;
}

/* End slider CSS */